@import "../../variables.css";

.color-palette-container {
    border: 2px solid var(--base-color-mid-grey);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.color-palette-color {
    width: 35px;
    height: 35px;
}