@import "../../variables.css";

.vertical-bar {
  height: 100vh;
  width: fit-content;
  background-color: var(--base-color-light-grey);
  display: grid;
  grid-template-areas: "togglebutton" "colorlist" "addbutton";
  grid-template-rows: 10% 75% 15%;
  justify-content: start;
  gap: 1rem;
  border-right: 2px groove var(--base-color-dark-grey);
}

.horizontal-bar {
  width: 100vw;
  height: 100px;
  background-color: var(--base-color-light-grey);
  display: grid;
  grid-template-areas: "togglebutton colorlist addbutton";
  grid-template-columns: 15% 70% 15%;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px groove var(--base-color-dark-grey);
}

.vertical-color-list {
  grid-area: colorlist;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.horizontal-color-list {
  grid-area: colorlist;
  flex-wrap: nowrap;
  margin: 1rem;
  gap: 1rem;
  padding: 0;
  overflow-y: hidden; 
  overflow-x: scroll;
}

.my-color-list-item {
  padding: 0;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: addbutton;
}

.toggle-button {
  grid-area: togglebutton;
  width: fit;
  margin: 1rem; 
}

.addColorButton{
  width: fit-content;
  padding: .7rem 0.7rem 0.7rem .7rem;
  font-size: 12px;
}