@import "../../variables.css";

.vertical-bar {
  min-height: 100vh;
  height: fit-content;
  background-color: var(--base-color-light-grey);
  display: grid;
  overflow: hidden;
  grid-template-areas: "togglebutton" "colorlist" "addbutton";
  grid-template-rows: 15% 75% 10%;
  align-items: start;
  border-right: 2px groove var(--base-color-dark-grey);
}

.horizontal-bar {
  min-width: 100vw;
  height: 100px;
  background-color: var(--base-color-light-grey);
  display: grid;
  grid-template-areas: "togglebutton colorlist addbutton";
  grid-template-columns: 15% 70% 15%;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px groove var(--base-color-dark-grey);
}

.my-color-list {
  grid-area: colorlist;
  margin: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0;
}

.my-color-list-item {
  padding: 0;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: addbutton;
}

.toggle-button {
  grid-area: togglebutton;
  width: 150px;
  margin: 1rem; 
}

.addColorButton{
  width: fit-content;
  padding: .7rem 0.7rem 0.7rem .7rem;
  font-size: 12px;
}